    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0 col-lg-12">
              <table class="table align-items-center mb-0">
                <tr>
                  <td><h6>{{page}}</h6></td>
                  <td><a href="/clients/addOrEdit"><button class="btn btn-success">Inserir novo cliente</button></a></td>
              </table>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nome/Email</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">CPF</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente desde</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each clients as | client |}}
                    <tr>
                      <td class="align-middle">
                        <span class="text-secondary text-xs font-weight-bold">{{client._id}}</span>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{client.name}}</h6>
                            <p class="text-sm text-secondary mb-0">{{client.emailAddress}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">{{client.cpf}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-sm font-weight-bold mb-0">{{client.clientSince}}</p>
                      </td>
                      <td class="align-middle">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_contact_{{client._id}}" onClick="getNumber('{{client._id}}');"><i class="fas fa-eye text-dark me-2" aria-hidden="true"></i>Contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{client._id}}"><i class="fas fa-eye text-dark me-2" aria-hidden="true"></i>Ver</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/clients/addOrEdit/{{this._id}}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i> Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" data-bs-toggle="modal" data-bs-target="#delete{{client._id}}"><i class="fas fa-trash text-dark me-2" aria-hidden="true"></i> Apagar</a>
                      </td>
                    </tr>

                    <div class="modal fade" id="delete{{client._id}}" tabindex="-1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">ATENÇÃO!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Deseja realemnte excluir o registro: <span class="badge rounded-pill bg-warning text-light">{{client._id}}</span><br>
                            {{client.name}}?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">NÃO</button>
                            <a href="/clients/delete/{{client._id}}">
                              <button type="button" class="btn btn-danger">SIM</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Basic Modal-->

                      <!-- Modal -->
                      <div class="modal fade" id="modal_{{client._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Módulo de Clientes</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="col-md-12 mt-4">
                                <div class="card">
                                  <div class="card-header pb-0 px-3">
                                    <h6 class="mb-0">Informações do Cliente</h6>
                                  </div>
                                  <div class="card-body pt-4 p-3">
                                    <ul class="list-group">
                                      <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                        <div class="d-flex flex-column">
                                          <h6 class="mb-3 text-sm">{{client.name}}</h6>
                                          <span class="mb-2 text-sm">Email: <span class="text-dark font-weight-bold ms-sm-2">{{client.emailAddress}}</span></span>
                                          <span class="mb-2 text-sm">CPF: <span class="text-dark ms-sm-2 font-weight-bold">{{client.cpf}}</span></span>
                                          <span class="mb-2 text-sm">Nascimento: <span class="text-dark ms-sm-2 font-weight-bold">{{client.birthday}}</span></span>
                                          <span class="mb-2 text-sm">Sexo: <span class="text-dark ms-sm-2 font-weight-bold">{{client.genere}}</span></span>
                                          <span class="mb-2 text-sm">Cliente desde: <span class="text-dark ms-sm-2 font-weight-bold">{{client.clientSince}}</span></span>
                                          <span class="text-xs">Endereço: <span class="text-dark ms-sm-2 font-weight-bold">
                                            {{client.address.street}}, {{client.address.number}}<br />
                                            <span style="padding-left:67px;">{{client.address.neighborhood}}</span><br />
                                            <span style="padding-left:67px;">{{client.address.city}} / {{this.address.state}}</span><br />
                                            <span style="padding-left:67px;">{{client.address.zipCode}}</span><br />
                                            <span style="padding-left:67px;">{{client.address.country}}</span><br />
                                          </span></span>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="modal_contact_{{client._id}}" tabindex="-1" aria-labelledby="Contato" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Módulo de Clientes - contatos</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="col-md-12">
                                <div class="card">
                                  <div class="card-body">
                                    <ul class="list-group">
                                      <li class="list-group-item border-0 d-flex mb-2 bg-gray-100 border-radius-lg">
                                        <div class="col-md-12 mt-4">
                                          <label>Adicionar número de contato...</label>
                                          <div class="row">
                                            <div class="col-sm-3">
                                              <input type="text" class="form-control" name="ddd_{{client._id}}" id="ddd_{{client._id}}" placeholder="ddd" value="" required>
                                            </div>
                                            <div class="col-sm-6">
                                              <input type="text" class="form-control" name="phone_{{client._id}}" id="phone_{{client._id}}" placeholder="telefone" value="" required>
                                            </div>
                                          </div>
                                          <div class="col-md-12 mt-4">
                                            <div class="row">
                                              <div class="col-sm-5">
                                                <select class="form-control" name="type_{{client._id}}" id="type_{{client._id}}">
                                                  <option value="celular">celular</option>
                                                  <option value="residencial">residencial</option>
                                                  <option value="comercial">comercial</option>
                                                  <option value="outro">outro</option>
                                                </select>
                                              </div>
                                              <div class="col-sm-4">
                                                <input type="checkbox" class="mb-3" v-model="checkboxes.unchecked" name="whatsapp_{{client._id}}" id="whatsapp_{{client._id}}" value="on">&nbsp;WhatsApp
                                              </div>
                                              <div class="col-sm-3">
                                                <input type="button" class="btn btn-xs btn-primary" name="salvar" id="salvar" onClick="saveNumber('{{client._id}}');" value="salvar">
                                              </div>
                                            </div>
                                          </div>
                                          <hr noshade>
                                          <h6 class="mb-3 text-sm">{{client.name}}</h6>
                                          <span class="mb-2 text-sm">Email: <span class="text-dark font-weight-bold ms-sm-2">{{client.emailAddress}}</span></span>
                                          <div class="container"><div class="row"><div class="col-sm-2"><span><strong>DDD</strong></span></div><div class="col-sm-4"><span><strong>Número</strong></span></div><div class="col-sm-4"><span><strong>TTIPO</strong></span></div><div class="col-sm-2"><span><strong>WhatsApp</strong></span></div></div></div>
                                          <div id="phones_{{client._id}}"></div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
      function getNumber(id) {
        $('#ddd_'+id).val('');
        $('#phone_'+id).val('');
        $.ajax({
          type: 'GET', 
          url: '/clients/getPhoneNumber', 
          data: {
            'client_id': id
          },
          datatype: "json",

          success: function(dataReturn) {
            if ( dataReturn.length > 0 ) {
              $('#phones_'+id).html('')
               dataReturn.forEach( function(data) {
                  if( data.whatsapp == 'on' ) { whatsappText = 'SIM' } else { whatsappText = 'NÃO' }
                  $('#phones_'+id).append('<div class="container"><div class="row"><div class="col-sm-2"><span>'+data.ddd+'</span></div><div class="col-sm-4"><span>'+data.phone+'</span></div><div class="col-sm-4"><span>'+data.type+'</span></div><div class="col-sm-2"><span>'+whatsappText+'</span></div></div></div></div>')
              })
            } else {
              $('#phones_'+id).append('<div class="container"><div class="row"><div class="col-sm-12"><span>não foram encontrados registros.</div></div>')
            }
          }
        });
      }
      function saveNumber(id) {
          client_id = id;
          ddd = $('#ddd_'+id).val();
          phone = $('#phone_'+id).val();
          type = $('#type_'+id).val();
          if( $('#whatsapp_'+id).is(':checked') ) {
            whatsapp = 'on'
          } else {
              whatsapp = ''
          }


          if( ( ddd.length >= 2 ) && ( phone.length >= 8 ) ) { 
            $.ajax({
                type: 'GET',
                url: '/clients/addPhoneNumber',
                data: {
                    'client_id': client_id,
                    'ddd': ddd,
                    'phone': phone,
                    'type': type, 
                    'whatsapp':  whatsapp,
                },
                datatype: "json",

                success: function (data) {
                  getNumber(client_id);
                }
            });
          } else {
            alert('DDD ou telefone inválido(s)!');
          }
        }
    </script>